[init]
	defaultBranch = main
[core]
	editor = nvim
[pager]
	diff = delta
	log = delta
	reflog = delta
	show = delta

[delta]
	syntax-theme = base16
	line-numbers = true
	navigate = true

[interactive]
	diffFilter = delta --color-only
